.card-beam-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.beam-col {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.beam-node {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.beam-node.center {
    width: 25rem;
    height: 25rem;
    z-index: 99;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.beam-node.center img {
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
}