@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #root {
        background-image: radial-gradient(circle, #135aac40 1px, transparent 1px);
        background-size: 24px 24px;
    }

    body {
        overflow-x: hidden;
        /* background-color: #000c1a; */
    }

    main {
        gap: 10rem;
        display: flex;
        flex-direction: column;
    }
}

@layer components {
    .site-heading {
        font-family: 'Unbounded';
    }

    .site-p {
        font-family: 'Geist Mono';
    }
}