@layer component {
    #hero {
        height: 100vh;
        position: relative;
    }

    #hero .content {
        gap: 2rem;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    #hero .site-heading {
        z-index: 5;
        width: 70%;
        font-size: 4vw;
        color: #ffffff;
        text-align: center;
        pointer-events: none;
    }
    
    #hero .site-heading span {
        color: #009a83;
        pointer-events: none;
    }
    
    #hero .site-p {
        z-index: 5;
        font-size: 1vw;
        color: #ffffff;
        pointer-events: none;
    }
}