@layer components {

    :root {
        facility-protection-safety: --#a4191a;

        intelligent-building-operations: --#cf4900;

        health-regulatory-standards: --#017267;

        care-journey-excellence: --#135aac;
    }

    #hypermenu {
        height: 100vh;
        padding: 2rem;
    }

    .hypermenu-wrapper {
        gap: 2rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    #hypermenu-sidebar {
        width: 30%;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: space-between;
    }

    #hypermenu-sidebar .header {
        text-align: left;
    }

    #hypermenu-sidebar .header .description {
        color: #ffffff;
    }

    #hypermenu-list {
        gap: 1rem;
        display: flex;
        list-style: none;
        flex-direction: column;
    }

    #hypermenu-sidebar .title {
        font-size: 2vw;
        color: #1E92A3;
        margin-bottom: 2rem;
    }

    #hypermenu-sidebar .site-heading span {
        color: #3a7dce;
        font-family: inherit;
    }

    #hypermenu-sidebar .description {
        color: #3a7dce;
        font-size: .9rem;
        margin-bottom: 2rem;
    }

    .hypermenu-list-item {
        display: flex;
        padding: 1rem;
        font-size: 1vw;
        cursor: pointer;
        align-items: center;
        color: #fff;
        border: 1px solid #1E92A3;
        transition: .3s ease color;
        transition: .3s ease background-color;
    }

    .hypermenu-list-item:hover {
        background-color: #1E92A3;
    }

    .hypermenu-list-item:hover .site-heading {
        color: #ffffff;
    }

    #hypermenu-panels {
        gap: 1rem;
        flex-grow: 1;
        height: 100%;
        display: grid;
        border-radius: .25rem;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1) */
    }

    #hypermenu-panels > .panel {
        border-radius: var(--global-radius);
        /* background-color: #00000010; */
    }

    .hypermenu-panel {
        display: flex;
        padding: 1rem;
        /* From https://css.glass */
        flex-direction: column;
        justify-content: space-between;
        /* background: #ffffff; */
        border-radius: .25rem;
    }

    .hypermenu-panel .site-heading {
        font-size: 1.5vw;
        color: #ffffff;
    }

    .hypermenu-panel.facility-protection-safety {
        background-color: #a4191a;
    }

    .hypermenu-panel.intelligent-building-operations {
        background-color: #cf4900;
    }

    .hypermenu-panel.health-regulatory-standards {
        background-color: #017267;
    }

    .hypermenu-panel.care-journey-excellence {
        background-color: #135aac;
    }

    .hypermenu-panel .site-p {
        font-size: .9rem;
        color: #ffffff;
    }

    #panel-1 {
        grid-area: 1 / 1 / 4 / 3;
    }

    #carousel-panels .site-heading {
        margin: 0;
        font-size: 6vw;
        color: #ffffff;
    }

    #panel-2 {
        grid-area: 1 / 3 / 4 / 5;
    }

    #panel-3 {
        grid-area: 1 / 5 / 4 / 7;
    }

    #panel-4 {
        grid-area: 4 / 1 / 7 / 3;
    }

    #panel-5 {
        grid-area: 4 / 3 / 7 / 5;
    }

    #panel-6 {
        grid-area: 4 / 5 / 7 / 7;
    }    

    #hypermenu-sidebar .title.facility-protection-safety {
        color: #a4191a;
    }

    .hypermenu-list-item.facility-protection-safety {
        border: 1px solid #a4191a;
    }

    .hypermenu-list-item.facility-protection-safety:hover {
        background-color: #a4191a;
    }

    /* .hypermenu-panel .site-heading.facility-protection-safety {
        color: #a4191a;
    } */
    
    #hypermenu-sidebar .title.intelligent-building-operations {
        color: #cf4900;
    }
    
    .hypermenu-list-item.intelligent-building-operations {
        border: 1px solid #cf4900;
    }

    .hypermenu-list-item.intelligent-building-operations:hover {
        background-color: #cf4900;
    }

    /* .hypermenu-panel .site-heading.intelligent-building-operations {
        color: #cf4900;
    } */

    #hypermenu-sidebar .title.health-regulatory-standards {
        color: #017267;
    }

    .hypermenu-list-item.health-regulatory-standards {
        border: 1px solid #017267;
    }

    .hypermenu-list-item.health-regulatory-standards:hover {
        background-color: #017267;
    }

    /* .hypermenu-panel .site-heading.health-regulatory-standards {
        color: #017267;
    } */

    #hypermenu-sidebar .title.care-journey-excellence {
        color: #135aac;
    }

    .hypermenu-list-item.care-journey-excellence {
        border: 1px solid #135aac;
    }

    .hypermenu-list-item.care-journey-excellence:hover {
        background-color: #135aac;
    }
    
    /* .hypermenu-panel .site-heading.care-journey-excellence {
        color: #135aac;
    } */
}