#pillars {
    gap: 5rem;
    height: 100vh;
    padding: 2rem;
    display: flex;
    /* flex-direction: column; */
}

#pillars .header {
    width: 40%;
    display: grid;
    place-content: center;
}

#pillars .site-heading.section-title {
    /* color: #ffffff; */
    font-size: 6vw;
    text-align: left;
    margin-bottom: 3rem;
    font-weight: 700;
    background: -webkit-linear-gradient(#2e3192 30%, #33333300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pillars .content {
    flex: 1;
    gap: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#pillars .content .site-heading {
    color: #ffffff;
}

#pillars .section-description {
    top: 50%;
    left: 50%;
    width: 35rem;
    height: 35rem;
    display: grid;
    place-items: center;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    /* border: 2px solid #2e3192; */
    transform: translate(-50%, -50%);
}

#pillars .section-description .site-p {
    width: 50%;
    font-size: 1rem;
}

#pillars .orbit-wrapper {
    width: 60%;
    position: relative;
}

#pillars .orbit-object {
    top: 40%;
    left: 45%;
    position: absolute;
}

#pillars .orbit-node {
    width: 4rem;
    height: 4rem;
    padding: .75rem .5rem;
    border-radius: 50%;
    border: 1px solid #2e3192;
    background-color: #2e319220;
}

#pillars .orbit-node span {
    font-size: .8rem;
}